<div id='signup'>
  <h3>Sign Up</h3>
  <form name="signupForm" ng-submit='signup()' novalidate>
  <div class='form-group' ng-class="{'has-error': signupForm.username.$invalid && !signupForm.username.$pristine}">
    <label for="username">Username</label>
    <input name='username' class='form-control' type='text' ng-model='user.username' ng-required='true' ng-minlength='3' ng-maxlength='64' novalidate>
  </div>
  <div class='form-group' ng-class="{'has-error': signupForm.password.$invalid && !signupForm.password.$pristine}">
  <label for="password">Password</label>
    <input class='form-control' name="password" type="password" ng-model='user.password' ng-required='true' ng-minlength='3' ng-maxlength='64' novalidate>
  </div>
    <button class='btn btn-primary' ng-disabled='signupForm.$invalid'>Sign Up</button>
  </form>
  <p>
  <a href="#/signin">Already have an account? <strong>Signin</strong> ...</a>
   </p>
</div>
