<div id='signin'>
  <h1>Sign In</h1>
  <form name="signinForm" ng-submit='signin()' novalidate>
    <input type='text' ng-model='user.username' ng-required='true' ng-minlength='3' ng-maxlength='64' novalidate>
    <input type="password" ng-model='user.password' ng-required='true' ng-minlength='3' ng-maxlength='64' novalidate>
    <button class='btn btn-primary' ng-disabled='signinForm.$invalid'>Sign In</button>
  </form>
  <a href="#/signup">Don't have an account? <strong>Signup</strong> ...</a>
</div>
